body{
    background-color: rgba(188, 143, 143, 0.411);
    background: rgba(188, 143, 143, 0.411);
}
html {background-color: rgba(188, 143, 143, 0.411);}
.parent {
    background-size: cover;
    background-color: rgba(188, 143, 143, 0.329);
    margin: 0auto;
  }

.title{
    text-align: center;
    font-family: Great Vibes;
    font-size: 60px;
    font-style: oblique;
    font-weight: bold;
    color: rgb(118, 38, 104);
    text-shadow: 2px 4px white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.container{
    padding: 5rem;
    text-align: center;
}

.employeesTableClass{
    padding: 5px 45px;
    border-radius: 35px;
    box-shadow: inset 5px 5px 8px 7px white;
    width:fit-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

th{
    padding: 10px;
    text-align: center;
    color: rgb(97, 31, 85);
    font-size: 23px;
    font-weight: bold;
    text-shadow: 1px 2px white;
}

th:hover{
    background-color: rgba(188, 143, 143, 0.418);
}

td{
    padding: 10px;
    text-align: center;
    color: rgb(80, 26, 70);
    font-size: 17px;
}

.col-2{
    text-align: center;
}

button{
    border-radius: 30px;
    border-color: rgb(190, 110, 110);
    font-size: 18px;
    color:rgb(156, 77, 77);
    padding: 5px;
}

button:hover{
    background-color: rgba(188, 143, 143, 0.418);
    transform: scale(1.3,1.2);
}

.addBtn{
    border-radius: 30px;
    border-color: rgb(190, 110, 110);
    font-size: 18px;
    color:rgb(156, 77, 77);
    padding: 5px;
}

.searchBtn{
    border-radius: 30px;
    border-color: rgb(190, 110, 110);
    font-size: 18px;
    color:rgb(156, 77, 77);
    padding: 5px;
}

#searchImage {
    width: 20px;
    height: 18px;
}

#searchBarr{
    background-color: rgba(188, 143, 143, 0.486);
    border-radius: 5px;
    width: 300px;
    height: 30px;
}

.searchItems2{
    padding-bottom: 25px;
    padding-left: 5px;
    float:left;
}

.searchItems1{
    float:left;
    padding-left: 20px;
    border-radius: 15px;
}

.employeesTableContainer{
    padding-top: 50px;
}

.addEmployeeButton{
    padding-top: 50px;
    size: 80px;
}

.modal-title{
    text-align: center;
    font-family: Great Vibes;
    font-size: 30px;
    font-weight: bold;
    color: rgb(118, 38, 104);
    text-shadow: 1px 2px white;
    padding-top: 3px;
    padding-bottom: 2px;
}

.modal{
    text-align: left;
}

.modal-body{
    font-family: Great Vibes;
    font-size: 20px;
    font-weight: bold;
    color: rgba(118, 38, 103, 0.788);
    text-shadow: 1px 1px white;
    padding-top: 2px;
    padding-bottom: 2px;
}